<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <img src="../assets/nasa-worm-logotype.png" alt="NASA: Worm Logo" align="left" style="height: 25px;"/>
      <h2 class="nav-title">✧ {{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ '/random' | prepend: site.baseurl }}">Random</a></li>
      <li><a href="{{ '/data' | prepend: site.baseurl }}">Data</a></li>
      <li><a href="{{ '/search' | prepend: site.baseurl }}">Search</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </div>
</nav>
